fastapi==0.115.0
uvicorn==0.30.0
gunicorn==23.0.0
python-multipart==0.0.7
opencv-python==4.9.0.80
numpy==1.26.4
torch==2.2.0
torchvision==0.17.0
tensorflow==2.15.0
pillow==10.2.0
mediapipe==0.10.11
scipy==1.13.1
librosa==0.10.1
matplotlib==3.9.1
tqdm==4.66.4
python-dotenv==1.0.1
requests==2.32.3
